@use 'reset.scss';
@use 'button.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*,
html {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.user-theme {
  font-family: 'Poppins', sans-serif;
}

body.admin-theme {
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  /*  Admin  */
  --admin-theme-color: #4880ff;
  // --user-theme-color: #e88b27;
  --user-theme-color: #8e20d8;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 24px;
  font-weight: 560;
  color: #333;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.admin-page {
  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__search-container {
    display: flex;
    align-items: center;
    width: 450px;
    gap: 5px;
  }

  &__search-input {
    width: 350px;
    height: 36px;
    font-size: 14px;
  }

  &__heading--right {
    display: flex;
    gap: 10px;
  }
}

// .icon--nicer {
//   margin-top: 2px;
// }

// .admin-icon-white {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #fff;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   height: 36px;
//   width: 36px;

//   &:hover {
//     cursor: pointer;
//     background-color: #fcfcfc;
//   }
// }

.admin-action-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100px;
  height: 32px;
  padding: 10px 13.5px;
  background-color: #fafbfd;
}

.divider {
  width: 0.5px;
  height: 50px;
  background-color: #ccc;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: red;
}

label {
  select: none;
}

/* Type */
.btn--secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #979797;
}

.btn--danger {
  background-color: #e74c3c;
  color: white;
}

.btn--success {
  background-color: #2ecc71;
  color: white;
}

.btn--nicer {
  position: relative;
  top: 1px;
  right: 6px;
  margin-bottom: 1px;
}
